body {
    background-color: black;
    color: green;
    font-family: 'Space Mono', monospace;
}
a{
 color: green;   
}
#links {
    padding-left: 300px;
}
#secret {
  position: absolute;
  bottom: 10px;
  width: 50%;
}
