body {
    background-color: black;
    color: green;
    font-family: 'Space Mono', monospace;
}
a{
 color: green;   
}
#links {
    padding-left: 300px;
}
footer {
  position: absolute;
  bottom: 10px;
  width: 50%;
  border: 3px solid #8AC007;
}
